<ion-content [fullscreen]="true">
  <div class="header">
    <ion-title class="title">
      Enter your Email
      <p class="subTitle">To recieve a reset password link</p>
    </ion-title>
  </div>
  <form>
    <div class="ion-padding">
      <ion-item>
        <ion-input type="email" placeholder="email" class="input"></ion-input>
        <ion-icon name="mail-outline"></ion-icon>
      </ion-item>
    </div>
  </form>

  <ion-fab vertical="bottom" horizontal="end" style="margin-bottom: 30px">
    <ion-fab-button color="medium" [routerLink]="['/home']">
      <ion-icon name="chevron-forward"> </ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
